python>=3.6
pandas
mofapy
scikit-learn
snakemake-minimal
bioconductor-biobase
bioconductor-gseabase
bioconductor-rhdf5lib
bioconductor-pharmacogx
conda-forge::r-base=3.5.1
r-biocmanager
r-boruta
r-caret
r-coop
r-doparallel
r-e1071
r-energy 
r-ranger
r-randomforest
r-remotes
r-latex2exp
r-tidyverse
r-tidymodels
r-spls
r-rstan
r-rstanarm
r-rstantools
r-snow
r-spls
r-umap
