python>=3.6
pandas
scikit-learn
snakemake-minimal
bioconductor-biobase
bioconductor-gseabase
bioconductor-pharmacogx
r-base=3.5.1
r-biocmanager
r-boruta
r-caret
r-coop
r-ranger
r-randomforest
r-remotes
r-tidyverse
r-tidymodels
r-spls
r-rstan
r-snow
r-latex2exp
